include ../mixins/_text-generator
-
  // so that we can use id to link to labels, needs to be unique if multiple cards on screen
  const uniqueId = Math.random().toString(36).substr(2, 9);
article.scene
  input.checkbox--toggle(
    name='flip-card',
    id=`flip-card-${uniqueId}`
    type='checkbox',
    )
  .card.grid
    .card__face.card__face--front.card__face--image(data-ribbon-text='new')
      .card__image
        img(
          src='https://source.unsplash.com/random',
          )
      .card__content
        header
          h1 Betbright casino
          h2 £1000 off
        main
          h3 Join
          p
            +lipsum()
          h3 Deposit
          p 
            +lipsum()
        footer.btn--row.flex--fill-items
          label.btn(for=`flip-card-${uniqueId}`)
            i.fa.fa-retweet
            | Ts&amp;Cs
          a.btn.btn--light.case--upper Find out more
          a.btn.btn--primary.w-100.w-d-auto.case--upper.flex--first.flex--reset-order-desktop
            | Join now
    .card__face.card__face--back
      .card__content
        header
          h1 Casino bonus
        main.scrollable
          h2 Term & Conditions
          each v in Array(15)
            p 
              +lipsum(5, 'sentences')

        footer.btn--row
          label.btn.case--upper(for=`flip-card-${uniqueId}`)
            i.fa.fa-caret-left
            | Back
          a.btn.btn--primary.case--upper.flex--first Join now
