doctype html
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Vanilla Javascript Flickr API Call
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="main.css")
    link(
      rel="stylesheet",
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css",
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz",
      crossorigin="anonymous",
      )
  body
    h1 Vanilla JS flickr API call
    - var animals = ['cow', 'dog', 'giraffe']
    nav.controls.flex.flex--row.flex--stretch.btn--row
      each animal in animals
        button.btn.btn--primary.controls__button(
          data-animal=`${animal}`,
          )=`${animal}`
    div.btn-row.align-end
      div.flex--row.flex.flex--align-end
        input#use-code-output.switch(
          type='checkbox',
        )
        label(
          for='use-code-output',
          data-label-text='User JSONP',
          style=`
              --switch-width: 6ch;
          `,
        ) Toggle
        label Show payload
        input#use-jsonp.switch(
          type='checkbox',
          checked,
        )
        label(
          for='use-jsonp',
          data-label-text='User JSONP',
          style=`
              --switch-width: 6ch;
          `,
        ) Toggle
        label Use JSONP

    div#output
    pre#payload.ft-syntax-highlight.scrollable(
      data-syntax="js",
      data-syntax-theme="one-dark",
    )
    script(src='./index.js')
