.btn {
  font-size: var(--g);
  padding: 0 var(--g);
  line-height: var(--g-x2);
  cursor: pointer;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 0;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  vertical-align: middle;
  
  box-shadow: inset 0 0 0 var(--g-0x1) var(--btn-background);

  background-color: var(--btn-background);
  color: var(--color-foreground);

  i {
    margin-right: var(--g-half);
    &:before{
      line-height: var(--g);
    }
  }
  &--primary{
    --btn-background: var(--color-primary); 
    padding-right: var(--g-x2);
    padding-left: var(--g-x2);
  }
  &--light {
    --btn-background: var(--btn-background-light);
  }
  &--row {
    display: flex;
    margin: var(--g-neg-half);
    justify-content: stretch;
    flex-wrap: wrap;
    .btn {
      margin: var(--g-half);
      display: inline-block;
      &--primary {
        
      }
    }

    @include desktop {
      .btn {
        width: auto;
        order: unset;
      }
    }
  }
}

[class^="fa-"]:before, [class*=" fa-"]:before {
  line-height: 1;
  margin-bottom: 1;
}

// hover states separate for cleaner code
.btn {
  &:before,
  &:after {
    background-color: var(--color-background);
    content: '';
    position: absolute;
    z-index: -1;
  }
  &, &:after {
    transition: all 0.3s, transform 0.1s;
  }
  &:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 var(--g-0x1) var(--btn-background), var(--box-shadow);
    &:after {
      transform: scale(0);
      opacity: 0;
    }
  }
  &:before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  &:after {
    background-color: var(--btn-background);
    transform: scale(1);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  &:active {
    transform: scale(0.9);
  }
}
