[data-ribbon-text] {
  // A complete configurable ribbon element :)
  --ribbon-height: calc(var(--g) * 3); // 50px;
  --ribbon-width: calc(var(--ribbon-height) * 4);
  --ribbon-position-offset: calc(var(--ribbon-height) / 2);
  --ribbon-neg-offset: calc(var(--ribbon-height) * -1);

  position: relative;
  overflow: hidden;
  &:after {
    display: inline-block;
    content: attr(data-ribbon-text);
    width: var(--ribbon-width);
    background: var(--ribbon-background-color);
    position: absolute;
    text-align: center;
    line-height: var(--ribbon-height);
    letter-spacing: 1px;
    color: var(--ribbon-foreground-color);
    transform-origin: bottom right;
    transform: rotate(45deg) translate3d(25%, var(--ribbon-position-offset), 0);
    top: var(--ribbon-position-offset);
    right: 0;
    left: auto;
    font-size: var(--g-2);
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: var(--box-shadow-large);
  }
}

.corner-ribbon{
}

