/*
  Author: Vik Ramanujam (piggyslasher@gmail.com)
  Simple, minimal css-only switch input that has nothing hard-coded
  https://codepen.io/piggyslasher/pen/zmLKBN?editors=1100
*/

input.checkbox--toggle, input.switch {
  height: 0;
  width: 0;
  // visibility: hidden; @TODO -- research accessibility
  position: absolute;
  left: -9999px;
}

input.switch + label {
  --switch-background: silver;
  --switch-width: 3ch;
  --switch-knob-size: 1rem;
  --switch-knob-offset: calc(0% + var(--switch-knob-size) / 2);
  --switch-knob-color: white;
  --switch-transition-duration: 0.3s;
  --switch-height: inherit;

  cursor: pointer;
  text-indent: -9999px;
  width: var(--switch-width);
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  border-radius: var(--switch-width);
  position: relative;
  line-height: var(--switch-height); // try not to mess with this, and rely on sending in line-height;

  &:before {
    content: attr(data-label-text)
  }

  &:after {
	--switch-left: calc(var(--switch-knob-size) / 2);
	content: '';
	position: absolute;
	display: inline-block;
	left: var(--switch-left);
	width: var(--switch-knob-size);
	height: var(--switch-knob-size);
	top: var(--switch-knob-offset);
	background: var(--switch-knob-color);
	border-radius: var(--switch-width);
	box-shadow: 0 0 0 var(--switch-width) var(--switch-background);
	transition: transform 0.3s, left 0.3s, box-shadow 0.3s, width .1s;
  }
}

input.switch {	
  &:checked + label {
	--switch-background: var(--color-info);
	&::after{
	  --switch-left: calc(100% - var(--switch-knob-size) / 2);
	  transform: translate3d(-100%, 0, 0);
	}
  }

  & + label:active::after {
	width: calc(var(--switch-width) - var(--switch-knob-size) * 2); // faux rubber band effect :)
  }
}

