:root{
  --scale: 1.45;
  --base-0: 3rem;
  --base-1: calc(var(--base-0) / var(--scale));
  --base-2: calc(var(--base-1) / var(--scale));
  --base-3: calc(var(--base-2) / var(--scale));
  --base-4: calc(var(--base-3) / var(--scale));

  --h1: var(--base-1);
  --h2: var(--base-2);
  --h3: var(--base-3);
  --h4: var(--base-4);
  --h5: var(--base-5);
  --h6: var(--base-6);
  --normal: var(--base-2);
  --small: 0.5rem;
}
