:root {
  --col-primary: palevioletred;
  --col-secondary: mediumseagreen;
  --col-tertiary: whitesmoke;
  --col-quarternary: papayawhip;
  
  --col-headings: var(--col-primary); 
  --grid-color-light: var(--col-quarternary); 
}

/* Using SCSS variables to store breakpoints */
$breakpoint: $g * 60rem; // because custom properties don't work with @media :(

@mixin desktop {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

.flex {
  &--width-full {
    flex: 100%;
  }

  &--fill-items {
    > * {
      flex: auto;
    }
  }
  &--no-grow {
    > * {
      flex: none;
    }
  }

  &--first {
    order: -1;
  }

  &--reset-order-desktop {
    @include desktop {
      order: unset;
    }
  }
}

.w {
  &-100 {
    width: 100%;
  }
  &-desktop {
    &-auto {
      width: auto;
    }
  }
}
