// Used to display a grid that aids pixel perfect development.
// All elements will have a height that is a multiple of 1rem (10px when sanitized)- so it's hard to have things off position.
// stolen from https://github.com/cesarfigueroa/sass-gridlines/blob/master/_gridlines.scss
// also muddled up to glory with ideas from here https://css-tricks.com/svg-path-syntax-illustrated-guide/

// I think we can replace the svg with a repeating shadow and do away with SCSS, but next time :)
// Unfortunately calc(attr()) doesn't work
$g-in-pxl-vendor-prefix: 'moz' !default;

@function gl-linear-gradient($values...) {
  @if $g-in-pxl-vendor-prefix {
    @return unquote("-#{$g-in-pxl-vendor-prefix}-linear-gradient(#{$values})");
  } @else {
    @return unquote("linear-gradient(#{$values})");
  }
}

@mixin gridlines($width-column: 1rem, $width-gutter: 1rem, $width-padding: 1rem, $line-height: .4rem) {
  $grid-color: rgba(13, 134, 169, 0.1);

  // cool eh?
  $grid: "data:image/svg+xml;charset=utf8,\
  %3Csvg width='#{$g-in-px}px' height='#{$g-in-px}px' viewBox='0 0 #{$g-in-px} #{$g-in-px}' xmlns='http://www.w3.org/2000/svg'%3E\
  %3Cdefs%3E\
  %3Cpattern id='grid' height='#{$g-in-px}' width='1000' patternUnits='userSpaceOnUse'%3E\
  %3Cpath d='M #{$g-in-px} 0 L -1 0 -1 #{$g-in-px} M #{$g-in-px} 0 L -1 0 -1 #{$g-in-px}' fill='#{$grid-color}' stroke='#{$grid-color}' stroke-width='1' /%3E\
  %3Cpath d='M #{$g-in-px} 0 L -1 #{$g-in-px} #{$g-in-px} #{$g-in-px} #{$g-in-px} -1' fill='#{$grid-color}' stroke='transparent' stroke-width='1' /%3E\
  %3C/pattern%3E\
  %3C/defs%3E\
  %3Crect width='#{$g-in-px}px' height='#{$g-in-px}px' fill='url(%23grid)' /%3E\
  %3C/svg%3E";
  /* Vertical Rhythm Reset: Grid Lines */
  background-image: url($grid) !important;
  *:not(hr) {
    /* Vertical Rhythm Reset: Grid Highlight */
  }
}

input[type=checkbox].show-grid:checked ~ * .grid {
  &, *, *[data-ribbon-text]:after {
    @include gridlines();
  }
}
