h1, h2, h3, h4, p, btn, label {
  --font-size: var(--g); // set it here so we can easily use one line to override later
  --line-height: var(--g); // There's a sass mixin that auto generates this, but I'd like to stay away from that :)
  --margin-bottom: var(--g);

  line-height: var(--line-height);
  margin-bottom: var(--margin-bottom);
  font-size: var(--font-size);
}

h1 {
  --font-size: calc(var(--g) * 1.75);
  color: var(--headings-color);
}

h2 {
  --font-size: var(--g);
  --margin-bottom: 0;
  font-weight: bold;
  h1 + & {
    --font-size: var(--g-x2);
    margin-top: var(--g-neg);
    color: var(--headings-color);
  }
}

h1, h2 {
  --line-height: var(--g-x2);
  --headings-color: var(--color-info); // easy to override, just need to set the prop value

  text-transform: uppercase;
}

h3 {
  --font-size: 1.3rem;
  --margin-bottom: 0;
  --line-height: var(--g-x2);
  text-transform: uppercase;
  font-weight: bold;
}

p {
  --font-size: calc(var(--g) * 1.15);
}

.case {
  &--upper {
    text-transform: uppercase;
  }
}
