$g: 1; // Base unit of 1 rem = 10px so we can use Rems all over sanely
$g-in-px: 10; //used as fallback for svgs

:root {
  --g: #{$g+'rem'}; // 10px unit
  --g-half: calc(var(--g) * .5);
  --g-x2: calc(var(--g) * 2);
  --g-x4: calc(var(--g) * 4);
  --g-x5: calc(var(--g) * 5);

  // negatives
  --g-neg: calc(var(--g) * -1);
  --g-neg-half: calc(var(--g) * -0.5);
  --g-neg-x4: calc(var(--g) * -4);
  --g-neg-x5: calc(var(--g) * -5);

  // hundreds
  --g-x10: calc(var(--g) * 10); // 100px
  --g-x20: calc(var(--g) * 20); // 200px

  --g-0x1: calc(var(--g) * 0.1); // 1px
  --g-0x2: calc(var(--g) * 0.2);
  --g-0x25: calc(var(--g) * 0.20); // @TODO should be 25

  --color-raw-yellow: 252, 191, 15;
  --color-raw-jelly-bean: 13, 134, 169;
  
  --color-foreground: rgba(20, 20, 20, 1);
  --color-warn: rgba(var(--color-raw-yellow), 1); // yellow
  --color-info: rgba(var(--color-raw-jelly-bean)); // turquoise / jelly-bean
  
  --color-background: white;
  --color-primary: var(--color-warn);

  --font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  --box-shadow-size: .2rem;
  --box-shadow-color: rgba(0, 0, 0, 0.25);
  --box-shadow: 0 0 var(--box-shadow-size) var(--box-shadow-color);
  --box-shadow-large: 0 0 .5rem .3rem rgba(0, 0, 0, 0.15);

  --body-width: calc(var(--g) * 60);

  --grid-color: rgba(var(--color-warn), 0.15);

  --btn-background: rgba(200, 200, 200);
  --btn-background-light: rgba(230, 230, 230);
  
  --scrollbar-color: rgba(230, 230, 230);
  --scrollbar-size: var(--g-half);

  --ribbon-background-color: var(--color-primary);
  --ribbon-foreground-color: var(--color-foreground);
}

/* Using SCSS variables to store breakpoints */
$breakpoint: $g * 60rem; // because custom properties don't work with @media :(

@mixin desktop {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

.flex {
  &--width-full {
    flex: 100%;
  }

  &--fill-items {
    > * {
      flex: auto;
    }
  }
  &--no-grow {
    > * {
      flex: none;
    }
  }

  &--first {
    order: -1;
  }

  &--reset-order-desktop {
    @include desktop {
      order: unset;
    }
  }
}

.w {
  &-100 {
    width: 100%;
  }
  &-desktop {
    &-auto {
      width: auto;
    }
  }
}
