@import '_variables';
@import '_reset';
@import '_card';
@import '_grid';
@import '_buttons';
@import '_toggles';
@import '_typography';
@import '_ribbon';
@import '_effects';
@import '_scrollbars';

body {
  font-family: var(--font-system);
  max-width: var(--body-width);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-foreground);
  padding: var(--g);
  > label {
    // lazy styling, just for the grid toggle.
    position: fixed !important;
    bottom: 0;
    & ~ label {
      transform: translate3d(0, -100%, 0);
    }
  }
}

